<!DOCTYPE html>
<html>
  <head>
    <title>Price Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <div id="v-app" v-cloak>
      <%= render 'layouts/header' %>
      
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
